<!--
 * @Descripttion: 
 * @version: 
 * @Author: A1ertx5s
 * @Date: 2022-03-31 21:32:58
 * @LastEditors: sA1ertx5s
 * @LastEditTime: 2022-06-01 10:43:07
-->
<!-- /.content-wrapper -->
<footer class="main-footer">
  &copy; <a target="_blank" rel="noopener noreferrer" href="#">后台管理平台</a>
  - coded by <a target="_blank" rel="noopener noreferrer" href="http://blog.alertxss.cn">A1ertx5s</a>
  <div class="float-right d-none d-sm-inline-block">
    <a target="_blank" rel="noopener noreferrer" href="#">AdminLTE Flask</a>
  </div>
</footer>